{% extends "base.html" %}
{% block content %}

<!-- Start of Index Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <img src="https://res.cloudinary.com/ds197sglr/image/upload/v1673550784/logo_transparent_background_htmouu.png"
                        alt="Icon">
                    <h3 class=" site-heading my-4 mt-3 text-white">Welcome to the Irish Cyber Security Blog </h3>
                    <p class="text-light">Irish based Cyber Security News and Information</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End of Index Header -->

<!-- Last 5 Posts in Index -->
<div class="container">
    <h2><img src="https://res.cloudinary.com/ds197sglr/image/upload/v1673550784/logo_transparent_background_htmouu.png"
            alt="Icon"> Last 5 Posts</h2>
</div>
<div class="container post-preview">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="post-preview card-body">
                    <a href="{% url 'post_detail' post.slug %}">
                        <h1 class="post-title"><i class="fas fa-blog pe-2"></i>{{ post.title }}</h1>
                    </a>
                    <p class="post-meta">Posted by: {{ post.author }} | Created: {{ post.created_on }}<br>Category:
                        {{ post.category }} |
                        <i class="fas fa-newspaper"></i> {{ post.get_status_display }} | {{ post.comments.count }} <i
                            class="fa-solid fa-comment"></i> | {% if post.is_pinned %}
                        <i class="fa-solid fa-map-pin fa-beat"></i>{% endif %}</p>
                    <hr>
                    <p class="post-detail">{{ post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug %}"
                        class="btn btn-primary head_text btnform text-white">Read More
                        &rarr;</a>

                </div>
            </div>
            {% endfor %}
            <!-- End of 5 Posts in Index -->
        </div>
        <!-- Start of Side Bar -->
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        <!-- Start of Side Bar -->
    </div>
</div>

{%endblock%}