
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <h2><img src="https://res.cloudinary.com/ds197sglr/image/upload/v1673550784/logo_transparent_background_htmouu.png"
          alt="Icon">Edit Post</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
<div class="card-body post-preview">
  {% if user.is_authenticated %}
  {% if user.is_superuser %}
  <div style="display:inline-block;">
      <p><span style="color: #00a7b5;">Account: {{ user.username }}</span>
          <br>Access Level:
          <span style="color: red">SuperUser</span></p>
  </div>
  <hr>

  <div style="display:inline-block;">
      <i class="fas fa-plus pe-2"></i><a href="/posts/create">Create a post</a> |
      <i class="fas fa-edit pe-2"></i> <a href="{% url 'post_update' post.slug %}">Edit this post</a> | 
      <i class="fas fa-trash pe-2"></i><a href="{% url 'post_delete' post.slug %}">Delete this post</a>
      <i class="fas fa-user pe-2"></i><a href="{% url 'admin:index' %}">Edit user</a>
      <i class="fas fa-comment pe-2"></i><a href="{% url 'admin:index' %}">Create comment on this post</a>
      <div class="post-details">
        <h1>Post Title: {{ post.title }}</h1>
        <p>Content: {{ post.content }}</p>
        <p>Author: {{ post.author }}</p>
        <p>Created on: {{ post.created_on }}</p>
        <p>Slug: {{ post.slug }}</p>
        <p>Status:
            {% if post.status == 0 %}
                <span style="color: orange">Draft</span>
            {% elif post.status == 1 %}
                <span style="color: green">Published</span>
            {% elif post.status == 2 %}
                <span style="color: red">Disabled</span>
            {% endif %}
            </p>            
    </div>
    <hr>
  </div>



  {% elif user.is_staff %}
  <div style="display:inline-block;">
      <p><span style="color: #00a7b5;">Account: {{ user.username }}</span>
          <br>Access Level:
          <span class="small-text" style="color: red"><br>Staff</span></p>
  </div>
  <hr>

  <div style="display:inline-block;">
      <i class="fas fa-plus pe-2"></i><a href="/posts/create">Create a post</a> |
      <i class="fas fa-edit pe-2"></i> <a href="{% url 'post_update' post.slug %}">Edit this post</a> |
      <i class="fas fa-trash pe-2"></i><a href="{% url 'post_delete' post.slug %}">Delete this post</a>
      <i class="fas fa-user pe-2"></i><a href="{% url 'admin:index' %}">Edit user</a>
      <i class="fas fa-comment pe-2"></i><a href="{% url 'admin:index' %}">Create comment on this post</a>
  </div>
  {% endif %}
</div>
{% endif %}


      <div class="col-md-8 mt-3 left">
<div class="row">
  <!-- Blog Entries Column -->
    <h2>Edit Post</h2>
     
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save">
    </form> 
    <br>
  </div>
      </div>

      </div>

      </div>
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
{% endblock %}