{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Start of Confirm Delete -->
<div class="row">
  <!-- Blog Entries Column -->
<div>
  <div class="container post-preview">
    <div class="row">
      <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="post-preview card-body">
            <p class="text-center">
              <i class="fas fa-trash pe-1"></i>
              <h2 style="text-align: center;">Delete Post</h2>
            </p>
            <p>
              <h2 class="preview-title" style="text-align: center; color:#FF0000">Are you sure you want to delete?</h2>
            </p>
            <form class="form-control" method="post" style="text-align: center;">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" value="Save" class="btn btn-primary head_text btnform text-white" onclick = "if (! confirm('Are you sure you want to Continue?')) { return false; }">
            </form>
          </div>
        </div>
      </div>
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
<!-- End of Confirm Delete -->
    {% endblock %}