{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <h2><img src="https://res.cloudinary.com/ds197sglr/image/upload/v1673550784/logo_transparent_background_htmouu.png"
      alt="Icon">Create Post</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body post-preview">
        <div class="container post-preview">
          <div class="row">
            <!-- Blog Entries Column -->
            Instructions:

            To create a post do this, delete do this:

            <p class="post-meta">Posted by: {{ post.author }} | Created: {{ post.created_on }}<br>Category:
              {{ post.category }} |
              <i class="fas fa-newspaper"></i> {{ post.get_status_display }} | {{ post.comments.count }} <i
                class="fa-solid fa-comment"></i> | {% if post.is_pinned %}
              <i class="fa-solid fa-map-pin fa-beat"></i>{% endif %}</span></p>
            <h2>Create Post</h2>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" value="Save">
            </form>
          </div>

        </div>
      </div>
      
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
</div>
</div>
    {% endblock %}