
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<p class="post-meta">Posted by: {{ post.author }} | Created: {{ post.created_on }}<br>Category:
    {{ post.category }} |
    <i class="fas fa-newspaper"></i> {{ post.get_status_display }} | {{ post.comments.count }} <i
        class="fa-solid fa-comment"></i> | {% if post.is_pinned %}
    <i class="fa-solid fa-map-pin fa-beat"></i>{% endif %}</span></p>
    <h2>Create Post</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save">
    </form> 

{% endblock %}