{% extends 'base.html' %}

{% block content %}

post_view.html

<1>view post</1>
    <h1>{{ post.title }}</h1>
    <p>By {{ post.author }} on {{ post.created_on }}</p>
    <p>{{ post.content }}</p>
    <p><a href="#">edit</a></p>
    <p><a href="#">new</a></p>
    

<!--    <h2>Comments</h2>
    {% for comment in post.comments.all %}
        <div class="comment">
            <p>{{ comment.name }} says:</p>
            <p>{{ comment.body }}</p>
            <p>{{ comment.created_on}}</p>
        </div>
    {% endfor %}
    
    <form method="post">
        {% csrf_token %}
        <textarea name="body"></textarea>
        <input type="submit" value="Add comment">
    </form> -->
{% endblock %}