{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container post-preview">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <!-- top row-->

            <div class="card mb-4">
                <!-- Next-->
                <div class="post-preview card-body">
                    <div class="card-body post-preview">
                        {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <div style="display:inline-block;">
                            <h1 class="post-title"><i class="fa-solid fa-screwdriver-wrench pe-2"></i>Site Administration</h2>
                            <span style="color: #00a7b5;">Account: {{ user.username }}</span>
                                <br>Access Level:
                                <span style="color: red">SuperUser</span>
                        </div>
                        <hr>
                        <div style="display:inline-block;">
                            <i class="fas fa-plus pe-1"></i><a href="/posts/create">Create a post</a> |
                            <i class="fas fa-edit pe-1"></i> <a href="{% url 'post_update' post.slug %}">Edit this
                                post</a> |
                            <i class="fas fa-trash pe-1"></i><a href="{% url 'post_delete' post.slug %}">Delete this
                                post</a>
                            <i class="fas fa-trash pe-1"></i><a href="{% url 'post_delete' post.slug %}">Delete this
                                post</a>
                            <i class="fas fa-user pe-1"></i><a href="{% url 'admin:index' %}">Approve Comment</a>
                            <i class="fas fa-comment pe-1"></i><a href="{% url 'admin:index' %}"><a href="#comment">Create comment on
                                this post</a>
                            <div class="post-preview">
                                <hr>
                                <h1 class="post-title">{{ post.title }}</h1>
                                <p class="post-preview">{{ post.content }}</p>
                                <p class="post-meta">Author: {{ post.author }} | Created on: {{ post.created_on }} |
                                    Slug: {{ post.slug }}</p>

                                <p>Status:
                                    {% if post.status == 0 %}
                                    <span style="color: orange">Draft</span>
                                    {% elif post.status == 1 %}
                                    <span style="color: green">Published</span>
                                    {% elif post.status == 2 %}
                                    <span style="color: red">Disabled</span>
                                    {% endif %}
                                    <p>Comments: {{ post.comments.count }} </p>
                                    <hr> 
                            </div>


                            {% elif user.is_staff %}
                            <div style="display:inline-block;">
                                <p><span style="color: #00a7b5;">Account: {{ user.username }}</span>
                                    <br>Access Level:
                                    <span class="text-detail" style="color: red"><br>Staff</span></p>
                            </div>
                            <hr>
                            <div style="display:inline-block;">
                                <i class="fas fa-plus pe-2"></i><a href="/posts/create">Create a post</a> |
                                <i class="fas fa-edit pe-2"></i> <a href="{% url 'post_update' post.slug %}">Edit this
                                    post</a> |
                                <i class="fas fa-trash pe-2"></i><a href="{% url 'post_delete' post.slug %}">Delete this
                                    post</a>
                                <i class="fas fa-comment pe-2"></i><a href="comment">Create comment on
                                    this post</a>
                                    <div class="post-preview">
                                        <h1 class="post-title">{{ post.title }}</h1>
                                        <p class="post-preview">{{ post.content }}</p>
                                        <p class="post-meta">Author: {{ post.author }} | Created on: {{ post.created_on }} |
                                            Slug: {{ post.slug }}</p>
        
                                        <p>Status:
                                            {% if post.status == 0 %}
                                            <span style="color: orange">Draft</span>
                                            {% elif post.status == 1 %}
                                            <span style="color: green">Published</span>
                                            {% elif post.status == 2 %}
                                            <span style="color: red">Disabled</span>
                                            {% endif %}
                                            Comments: 
                                    </div>
        
                            </div>
                            {% endif %}
                        

                        {% else %}
                        <div class="card-body comment">
                            <p class="text-center">You must be logged in to post a comment. </p>
                            <p class="text-center "><a href="{% url 'account_login' %}">Login</a> or <a
                                    href="{% url 'account_login' %}">Register</a> here.</p>
                        </div>
                        <hr>
                        {% endif %}
                    </div>
                    everyone sees this
                    <a href="{% url 'post_detail' post.slug  %}">
                        <h1 class="post-title"><i class="fas fa-blog pe-2"></i>{{ post.title }}</h2>
                    </a>
                    <p class="post-meta">Posted by: {{ post.author }} | Created: {{ post.created_on }}<br>Category:
                        {{ post.category }} |
                        <i class="fas fa-newspaper"></i> {{ post.get_status_display }} | {{ post.comments.count }} <i
                            class="fa-solid fa-comment"></i> | {% if post.is_pinned %}
                        <i class="fa-solid fa-map-pin fa-beat"></i>{% endif %}</p>
                    <hr>
                    <p class="post-detail">{{post.content}}</p>
                </div>
            </div>

    </div>
    
    <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body post-preview">
            <!-- comments -->
            <h2 id="#comment" class="post-meta">{{ comments.count }} comments</h2>
    
            {% for comment in comments %}
            <div class="post-detail" style="padding: 10px;">
                <p class="font-weight-bold"><i class="fa-regular fa-comment"></i>
                    {{ comment.name }} |
                    <span class="post-detail">
                        {{ comment.created_on }} |
                    </span>
                    <span>
                        Approved by: <span class="font-weight-bold" style="color: #00a7b5;">{{ post.author }}</span>
                    </span>
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% for comment in comments %}
    <div class="comment">
        <p>{{ comment.name }} - {{ comment.email }}</p>
        <p>{{ comment.body }}</p>
        <p>Status:
            {% if comment.status == 'review' %}
                <span style="color: orange">Review1</span>
            {% elif comment.status == 'accepted' %}
                <span style="color: green">Accepted2</span>
            {% elif comment.status == 'spam' %}
                <span style="color: red">Spam3</span>
            {% endif %}
        </p>
    </div>
    {% endfor %}
    <div class="col-md-8 card mb-4  mt-3 ">
        {% load crispy_forms_tags %}
        <div class="card-body post-preview comment">
            {% if user.is_authenticated and new_comment %}
            <div class="alert alert-success" role="alert">
                Thank you for Commenting! Please wait for approval?
            </div>
            {% elif user.is_authenticated %}
            <h3>Leave a comment</h3>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary head_text">Submit</button>
            </form>
            {% endif %}
        </div>
        <p class="text-center"><i class="fa-solid fa-notes"></i>
            After you register you can comment but comments are approved by admin. Please contact us using the Contact Us link should you have any queries. </p>    
    </div>
    
    </div>
    <div class="col-md-4 float-right margin-top ">
        <div class="card my-4">
                <h2 class="card-header post-title"><i class="fas fa-info-circle pe-2"></i>About Us</h2>
            <div class="card-body post-preview">
                <p class="card-text">Irish Cyber Security Blog</p>
                <p class="post-meta">
                    Welcome to the Irish Cyber Security Blog, where we strive to provide the latest and most relevant information on cyber security and technology trends to keep you and your business safe online. </p>
                <a href="{% url 'about' %}" class="btn btn-primary head_text btnform text-white">More Here &rarr;</a>
            </div>
        </div>
    </div>
</div>
<!-- Side Bar-->


</div>

{% endblock content %}