{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <h2><img src="https://res.cloudinary.com/ds197sglr/image/upload/v1673550784/logo_transparent_background_htmouu.png"
            alt="Icon">Edit Post</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body post-preview">
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <div style="display:inline-block;">
                    <h1 class="post-title"><i class="fa-solid fa-screwdriver-wrench pe-2"></i>Site
                        Administration</h1>
                    <hr>
                    <span style="color: #00a7b5;">Account: {{ user.username }}</span>
                    <br>Access Level:
                    <span style="color: red">SuperUser</span>
                </div>
                <img src="https://res.cloudinary.com/ds197sglr/image/upload/v1674071796/animation_Contrast_tp7p339r_2_d2wsdu.gif"
                    width="150px" alt="Animated Icon ICSBlog"></img>
                <hr>
                <div style="display:inline-block;">
                    <i class="fas fa-plus pe-1"></i><a href="/posts/create">Create a post</a> |
                    <i class="fas fa-edit pe-1"></i> <a href="{% url 'post_update' post.slug %}">Edit this
                        post</a> |
                    <i class="fas fa-trash pe-1"></i><a href="{% url 'post_delete' post.slug %}">Delete this
                        post</a>
                    <div class="post-preview ">
                        <hr>
                        <a href="{% url 'post_detail' post.slug  %}">
                            <h1 class="post-title"><i class="fas fa-blog pe-2"></i>{{ post.title }}</h2>
                        </a>
                        <p class="post-preview border">{{ post.content }}</p>
                        <p class="post-meta">Author: {{ post.author }} | Created on: {{ post.created_on }} |
                            Slug: {{ post.slug }}</p>
                        <p>
                            {% if post.status == 0 %}
                            <span class="p-3 mb-2 bg-warning text-white ">Draft | <i
                                    class="fa-solid fa-pen-ruler pe-1"></i></span>
                            {% elif post.status == 1 %}
                            <span class="p-3 mb-2 bg-success text-white"></i>Published | <i
                                    class="fa-solid fa-check pe-1"></i></span>
                            {% elif post.status == 2 %}
                            <span class="p-3 mb-2 bg-danger text-white">Disabled | <i
                                    class="fa-solid fa-xmark pe-1"></i></span>
                            {% endif %}
                            <p>Comments: {{ post.comments.count }}
                            </p>
                            <hr>
                    </div>
                    {% elif user.is_staff %}
                    <!-- Staff User -->
                    <div style="display:inline-block;">
                        <h1 class="post-title"><i class="fa-solid fa-screwdriver-wrench pe-2"></i>Site
                            Administration</h1>
                        <hr>
                        <span style="color: #00a7b5;">Account: {{ user.username }}</span>
                        <br>Access Level:
                        <span style="color: red">Staff</span>
                    </div>
                    <img src="https://res.cloudinary.com/ds197sglr/image/upload/v1674071796/animation_Contrast_tp7p339r_2_d2wsdu.gif"
                        width="150px" alt="Animated Icon ICSBlog"></img>
                    <hr>
                    <hr>
                    <div style="display:inline-block;">
                        <i class="fas fa-plus pe-1"></i><a href="/posts/create">Create a post</a> |
                        <i class="fas fa-edit pe-1"></i> <a href="{% url 'post_update' post.slug %}">Edit this
                            post</a> |
                        <i class="fas fa-trash pe-1"></i><a href="{% url 'post_delete' post.slug %}">Delete this
                            post</a>
                        <div class="post-preview ">
                            <hr>
                            <a href="{% url 'post_detail' post.slug  %}">
                                <h1 class="post-title"><i class="fas fa-blog pe-2"></i>{{ post.title }}</h2>
                            </a>
                            <p class="post-preview border">{{ post.content }}</p>
                            <p class="post-meta">Author: {{ post.author }} | Created on: {{ post.created_on }} |
                                Slug: {{ post.slug }}</p>
                            <p>
                                {% if post.status == 0 %}
                                <span class="p-3 mb-2 bg-warning text-white ">Draft | <i
                                        class="fa-solid fa-pen-ruler pe-1"></i></span>
                                {% elif post.status == 1 %}
                                <span class="p-3 mb-2 bg-success text-white"></i>Published | <i
                                        class="fa-solid fa-check pe-1"></i></span>
                                {% elif post.status == 2 %}
                                <span class="p-3 mb-2 bg-danger text-white">Disabled | <i
                                        class="fa-solid fa-xmark pe-1"></i></span>
                                {% endif %}
                                <p>Comments: {{ post.comments.count }}
                                </p>
                                <hr>
                        </div>
                        <!-- End of Staff User -->
                        {% endif %}
                    </div>
                    {% endif %}


                    <div class="col-md-8 mt-3 left">
                        <div class="row">
                            <!-- Blog Entries Column -->
                            <h2>Edit Post</h2>

                            <form method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" value="Save"
                                    onclick="if (! confirm('Are you sure you want to Continue?')) { return false; }">
                            </form>
                            <br>
                        </div>                      
                    </div>
                </div>
            </div> {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        </div>        
    </div>   
</div>  
        {% endblock %}