{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card mb-4">4
            <div class="card-body post-preview">

<div class="container post-preview">
    <div class="row">
      <div class="col-md-8 mt-3 left">
        <div class="card mb-4">
          <div class="col-md-6 mx-auto">
            <p class="card-title text-center">
        </div>
      </div>
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
  </div>

{% endblock content %}