{% extends 'base.html' %} {% block content %}

<div class="container">
    <h2><i class="fa-regular fa-newspaper pe-2"></i>Post Detail</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body post-preview">
                <a href="{% url 'post_detail' post.slug  %}">
                    <h1 class="post-title"><i class="fa-regular fa-newspaper pe-2"></i>{{ post.title }}</h2>
                </a>
                <p class="post-meta">Posted by: {{ post.author }} | Created: {{ post.created_on }}<br>Category:
                    {{ post.category }} |
                    {{ post.get_status_display }} {{ post.created_on|timesince }} ago | {{ post.comments.count }} <i
                        class="fa-regular fa-comment"></i> | {% if post.is_pinned %}
                    <i class="fa-solid fa-map-pin fa-beat"></i>{% endif %}
                    </span></p>
                <hr>
                <p class="post-meta">{{post.content}}</p>
            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body post-preview">
                <!-- comments -->
                <h2 class="post-detail">{{ comments.count }} comments</h2>
                <hr>
                {% for comment in comments %}
                <div class="post-detail" style="padding: 10px;">
                    <p class="post_list"><i class="fa-regular fa-comment"></i>
                        {{ comment.name }} |
                        <span class="post-detail">
                            {{ comment.created_on }} | Approved {{ comment.created_on|timesince }} ago by <span
                                class="font-weight-bold" style="color: #00a7b5;">{{ post.author }}
                            </span>
                            <hr>
                            {{ comment.body | linebreaks }}
                            {{ comment.body }}</p>
                </div>
                <hr>
                {% endfor %}

            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            {% load crispy_forms_tags %}
            <div class="card-body post-preview comment">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Thank you for Commenting! Please wait for approval?
                </div>
                {% else %}
                <h3>Leave a comment</h3>
                <form method="post" style="margin-top: 1.0em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary head_text">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>

</div>
{% endblock content %}