{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h2><img src="https://res.cloudinary.com/ds197sglr/image/upload/v1673550784/logo_transparent_background_htmouu.png"
            alt="Icon">Post List</h2>
</div>
<div class="container post-preview">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="post-preview card-body">
                    <a href="{% url 'post_detail' post.slug %}">
                        <h2 class="h2postlist"><i class="fas fa-blog pe-2"></i>{{ post.title }}</h2>
                    </a>
                    <p class="post-meta">Posted by: {{ post.author }} | Created: {{ post.created_on }}<br>Category:
                        {{ post.category }} | <i class="fas fa-newspaper"></i>
                        {{ post.get_status_display }} | {{ post.comments.count }} <i class="fa-solid fa-comment"></i> |
                        {% if post.is_pinned %}
                        <i class="fa-solid fa-primary-color: red fa-map-pin fa-beat"></i>{% endif %}</span></p>
                    <hr>
                    <p class="post-detail">{{ post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug %}"
                        class="btn btn-primary head_text btnform text-white">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
            {% if is_paginated %}
            <nav aria-label="Page Navigation"></nav>
            <ul class="pagination justify-content-center is_paginated">
                <li><a href="?page=1" class="page-link">ALL</a></li>
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&larr; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &rarr;</a></li>
                {% endif %}
            </ul>
            </nav>
        </div>
        {% endif %}
    </div>{% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}


</div>

</div>
{% endblock %}