{% block sidebar %}


<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right margin-top ">
    <div class="card my-4">
            <h2 class="card-header post-title"><i class="fas fa-user pe-2"></i>Admin Site Bar</h2>
        <div class="card-body post-preview">
            <p class="card-text">test</p>
            <p>User level: {{ user.level }}</p>
<p>Number of posts published: Post.objects.filter(author=user).count </p>
<ul>
    <li><a href="{% url 'post_create' %}">Create a new post</a></li>
    <li><a href="">Edit this post</a></li>
    <li><a href="{}">Delete this post</a></li>
</ul>
            <p class="post-meta">
                Test</p>
            <a href="/post/new/}" class="btn btn-primary head_text btnform text-white">Create Post &rarr;</a>
            <a href="" class="btn btn-primary head_text btnform text-white">Create Post &rarr;</a>
            <a href="{% url 'about' %}" class="btn btn-primary head_text btnform text-white">Create Post &rarr;</a>
            <a href="{% url 'about' %}" class="btn btn-primary head_text btnform text-white">Create Post &rarr;</a>
        </div>
    </div>
    </div>

{% endblock sidebar %}