{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
            <h2 class="card-header post-title"><i class="fa-regular fa-address-card pe-2"></i>About Us</h2>
        <div class="card-body">
            <p class="card-text ">Irish Cyber Security Blog</p>
            <p class="post-meta" style="font-size: 0.8em;">
                Welcome to the Irish Cyber Security Blog, where we strive to provide the latest and most relevant information on cyber security and technology trends to keep you and your business safe online. </p>
            <a href="" class="btn btn-primary head_text">More Here &rarr;</a>
        </div>
    </div>
    </div>

{% endblock sidebar %}