{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h2 class="card-header post-title"><i class="fa-regular fa-address-card pe-2"></i>About Us</h2>
        <div class="card-body post-preview">
            <p class="card-text">Irish Cyber Security Blog</p>
            <p class="post-meta">
                Welcome to the Irish Cyber Security Blog, where we strive to provide the latest and most relevant
                information on cyber security and technology trends to keep you and your business safe online. </p>
            <a href="{% url 'about' %}" class="btn btn-primary text-white head_text">More Here &rarr;</a>
        </div>
    </div>
    <!--    <div class="card my-4">
        <h2 class="card-header post-title"><i class="fa-regular fa-address-card pe-2"></i>About Us</h2>
    <div class="card-body post-preview">
        <p class="card-text">Irish Cyber Security Blog</p>
        <p class="post-meta">
            Welcome to the Irish Cyber Security Blog, where we strive to provide the latest and most relevant information on cyber security and technology trends to keep you and your business safe online. </p>
        <a href="{% url 'about' %}" class="btn btn-primary text-white head_text">More Here &rarr;</a>
    </div>
</div> -->
</div>

{% endblock sidebar %}