{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container post-preview">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            
            <div class="card mb-4">
                <div class="post-preview card-body">
                    <a href="{% url 'post_detail' post.slug %}">
                        <h1 class="post-title"><i class="fas fa-blog pe-2"></i>title</h1>
                    </a>
                    <p class="post-meta">Posted by:  | Created: <br>Category: |
                        <i class="fas fa-newspaper"></i> status | {{ count }} <i
                            class="fa-solid fa-comment"></i> | pin
                        <i class="fa-solid fa-map-pin fa-beat"></i></p>
                    <hr>
                    <p class="post-detail">post</p>
                    <a href="{% url 'post_detail' post.slug %}"
                        class="btn btn-primary head_text btnform text-white">Read More
                        &rarr;</a>

                </div>
            </div>
            
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{% endblock content %}