{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <p class="card-title text-center">
      <img src="https://res.cloudinary.com/ds197sglr/image/upload/v1673550784/logo_transparent_background_htmouu.png"
        alt="Icon">
      <h2 style="text-align: center;">{% trans "Sign Out" %}</h2>
    </p>
    <div class="col-md-6 mx-auto">
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary head_text btnform" type="submit">{% trans "Sign Out" %}</button>
      </form>
      <br>
      <br>
    </div>
  </div>
</div>

{% endblock %}
