{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container post-preview">
  <div class="row">
      <div class="col-md-8 mt-3 left">

  <div class="card mb-4">
    <div class="col-md-6 mx-auto">
      <p class="card-title text-center">
        <img src="https://res.cloudinary.com/ds197sglr/image/upload/v1673550784/logo_transparent_background_htmouu.png" alt="Icon Sign Up">
        <h2 style="text-align: center;">{% trans "Signup" %}</h2>
    </p>
    <p class="card-body" style="text-align: center;">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary head_text btnform" type="submit">{% trans "Register" %}</button>
      </form>
      <br>
      <br>
  </div>    
  </div>
  </div>
  {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

  </div>
  </div>
</div>
</div>

{% endblock %}
