.form-control:focus {

    color: #000;
    background-color: #fff;
    border: 2px solid #00a7b5;
    outline: 5;
    box-shadow: #00a7b5;

}

.btnform {
    background: #101820;
    border: #00a7b5;
}

.btnform:hover {
    background: #00a7b5;
    border: #101820;
}

