{% extends "base.html" %}

{% block head_title %}Error 500{% endblock %}

{% block content %}
<div class="container post-preview">
  <div class="row">
    <div class="col-md-8 mt-3 left">
      <div class="card mb-4">
        <div class="col-md-6 mx-auto">
          <p class="card-title text-center">
            <img src="https://res.cloudinary.com/ds197sglr/image/upload/v1673550784/logo_transparent_background_htmouu.png" alt="Icon">
            <h2 style="text-align: center;">Error 500</h2>
          </p>
          <p>An error occurred on the server, Error 500. Please try again later or contact the site administrator.</p>
          <br>
          <br>
        </div>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>
{% endblock %}